@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import "tailwindcss";

@plugin 'tailwind-scrollbar' {
  nocompatible: true;
  preferredStrategy: 'pseudoelements';
}

@plugin "daisyui";


@theme {
  --font-display: "Oswald", "sans-serif";
  --font-poppins: "Poppins", sans-serif; 
}

.bg-image{
  @apply relative rounded-3xl h-screen bg-[url('https://assets.nflxext.com/ffe/siteui/vlv3/42a0bce6-fc59-4c1c-b335-7196a59ae9ab/web_auto_scroll/IN-en-20250303-TRIFECTA-5a51a3d1-4e37-441d-bc08-3597ab68c7b1_large.jpg')] bg-cover bg-center;
}
.search-image{
  @apply relative rounded-3xl h-screen bg-[url('https://images-wixmp-ed30a86b8c4ca887773594c2.wixmp.com/f/f562aaf4-5dbb-4603-a32b-6ef6c2230136/dh0w8qv-9d8ee6b2-b41a-4681-ab9b-8a227560dc75.jpg/v1/fill/w_1192,h_670,q_70,strp/the_netflix_login_background__canada__2024___by_logofeveryt_dh0w8qv-pre.jpg?token=eyJ0eXAiOiJKV1QiLCJhbGciOiJIUzI1NiJ9.eyJzdWIiOiJ1cm46YXBwOjdlMGQxODg5ODIyNjQzNzNhNWYwZDQxNWVhMGQyNmUwIiwiaXNzIjoidXJuOmFwcDo3ZTBkMTg4OTgyMjY0MzczYTVmMGQ0MTVlYTBkMjZlMCIsIm9iaiI6W1t7ImhlaWdodCI6Ijw9NzIwIiwicGF0aCI6IlwvZlwvZjU2MmFhZjQtNWRiYi00NjAzLWEzMmItNmVmNmMyMjMwMTM2XC9kaDB3OHF2LTlkOGVlNmIyLWI0MWEtNDY4MS1hYjliLThhMjI3NTYwZGM3NS5qcGciLCJ3aWR0aCI6Ijw9MTI4MCJ9XV0sImF1ZCI6WyJ1cm46c2VydmljZTppbWFnZS5vcGVyYXRpb25zIl19.LOYKSxIDqfPwWHR0SSJ-ugGQ6bECF0yO6Cmc0F26CQs')] bg-cover bg-center;
}

.signin-image{
  @apply relative rounded-3xl h-[700px] bg-[url('https://assets.nflxext.com/ffe/siteui/vlv3/f6e7f6df-6973-46ef-b98f-12560d2b3c69/web_tall_panel/IN-en-20250317-TRIFECTA-perspective_d3bd14de-3c51-4227-9244-f14c89469189_large.jpg')] bg-cover bg-center;
}

.signin-image::before {
  @apply absolute inset-0 rounded-3xl bg-black opacity-50 content-[''] z-0;
}

.bg-image::before {
  @apply absolute inset-0 rounded-3xl bg-black opacity-50 content-[''] z-0;
}
.button-transitions{
  @apply transition duration-300 hover:underline cursor-pointer 
}
.hero-container{
  @apply  flex relative flex-col gap-y-5 justify-center  items-center rounded-xl;
}
.signup-p{
  @apply text-lg font-poppins font-bold text-white;
}
.signup-input{
  @apply  text-lg px-2 py-2 text-black bg-white outline-0 focus:bg-red-200  font-display font-bold;
}
.signup-error{
  @apply text-lg font-display font-bold text-red-500;
}
.eye-icon{
  @apply w-[24px] absolute right-5 cursor-pointer ;
}
.button-style{
  @apply font-poppins text-xl font-bold  cursor-pointer text-white;
}
.title-button{
  @apply flex gap-2 items-center hover:bg-red-500 hover:text-white  opacity-95 font-bold text-xl text-black px-10 font-poppins rounded-sm py-3 cursor-pointer;
}
.title-cards{
  @apply w-[150px] flex-wrap rounded-md   cursor-pointer shadow-lg shadow-slate-400 h-[100px] object-cover hover:scale-110 ease-in-out;
}
@layer utilities {
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }
  .no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}